<template name="_header">
  <header>
	  <div class="container" >
		  <a href="#" data-activates="slide-out" class="button-collapse top-nav waves-effect waves-light circle"><i class="mdi-navigation-menu"></i></a>
	  </div>
	  <ul id="slide-out" class="side-nav fixed">
	      <li class="logo">
			  <a id="logo-container" href="#" class="brand-logo">
				  <img id="front-page-logo" src="/images/logo.png" />
			  </a>
		  </li>
		  <li class="bold">
		  	<a href="#" class="waves-effect waves-teal">About</a>
		  </li>
		  <li class="no-padding">
		  	<ul class="collapsible collapsible-accordion">
				<li class="bold active">
					<a class="collapsible-header waves-effect waves-teal active">Demo Bots</a>
					<div class="collapsible-body">
						<ul>
				  		  <li><a href="#"><i class="small mdi-action-explore"></i>CartoBot</a></li>
				  		  <li><a href="#"><i class="small mdi-hardware-speaker"></i>EchoBot</a></li>
				  	      <li><a href="#"><i class="small mdi-image-filter-tilt-shift"></i>OptoBot</a></li>
					  	</ul>
				  	</div>
			  	</li>
		  	</ul>
		  </li>

	  </ul>
	  
  </header>

</template>
