<template name="about">
  <nav class="top-nav">
	  <div class="container">
		  <div class="nav-wrapper">
			  <a class="page-title">About</a>
		  </div>
	  </div>
  </nav>
	<div class="container">
		<div class="row">
			<div class="s12">
				<div class="section">
					<h3 class="header">The Problem with Election Technology</h3>
					<p>The problem with most election technology products are that they think too big. Most investments in election technology are in voting systems, results transmission systems, voter registration systems, or biometrics. These are great if they work. But what if you don't want to replace an entire aspect of an election? We need tools for environments with:</p>
					<ul class="show-bullets">
						<li>Limited resources, where a major new technology system isn't affordable</li>
						<li>Limited capacity, where the risks of failure of a new major system are higher</li>
						<li>Limited operating ability, where lack of power, telecommunications, or security limit the utility of a major technology system</li>
					</ul>
					<h3 class="header">The ballotBots Solution</h3>
					<p>ballotBots turns this approach on its head by providing small, affordable, data-collecting robots that work in any environment. ballotBots are:</p>
					<ul class="show-bullets">
						<li>Injectable -  ballotBots incorporates technology into existing systems rather than replacing them.</li>
						<li>Modular - Use one or multiple ballotBots based on the type of data you want to collect.</li>
						<li>Affordable - Each ballotBot has one job that is does using open-source software and low-cost hardware.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</template>