<template name="home">
  <div class="section valign-wrapper" id="home-banner">
  	  <div class="container valign">
  		  <div class="template-home ">
  			  <div class="row center">
  				  <div class="col s8 offset-s2 center">
					  <h1 id="logo-text">ballot<span id="logo-text-bold">Bots</span></h1>
  					  <!-- <img id="home-logo" src="/images/logo.png" /> -->
  				  </div>
  			  </div>
  			  <div class="row center">
  				  <div class="col s12 center">
  					  <h4 class="header col s12 light center">Robotic pollworkers at your service.</h4>
  				  </div>
  			  </div>
			  <div class="row center">
				  <div class="col s12 center">
					  <a href="{{ pathFor 'bots' }}" class="materialize-red lighten-2 waves-effect waves-light btn-large">Meet the Bots</a>
				  </div>
			  </div>
	    
  		  </div>
  	  </div>
  </div>
  <div class="section">
	  <div class=container>
	  
	  	<div class="row">

	        <div class="col m4 s12 center">
	          <!-- Promo Content 1 goes here -->
			  <i class="large mdi-hardware-cast"></i>
			  <h5 class="center">New Approach to Election Technology</h5>
			  <p>Low cost, modular technology solutions to make existing election systems more transparent and accountable.</p>
	        </div>
	        <div class="col m4 s12 center">
	          <!-- Promo Content 2 goes here -->
			  <i class="large mdi-action-done-all"></i>
			  <h5 class="center">New Metrics for Understanding Voting</h5>
			  <p>Add ballotBots at specific points in the voting process to uncover new patterns.</p>
	        </div>
	        <div class="col m4 s12 center">
	          <!-- Promo Content 3 goes here -->
			  <i class="large mdi-action-account-balance"></i>
			  <h5 class="center">New Standards for Election Integrity</h5>
			  <p>Establish polling station fingerprints to quickly identify normal vs. suspicious patterns.</p>
	        </div>
		</div>
	  </div>
  </div>
</template>
